.home-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-side-bar {
  width: 300px;
  height: 1013px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  padding-top: 37px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-image {
  width: 10%;
  height: 35px;
  object-fit: cover;
  padding-left: 12px;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 65px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-nav-item {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text {
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.home-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-dropdown-toggle:hover {
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.home-text1 {
  color: var(--dl-color-gray-500);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.home-dropdown-arrow {
  transition: 0.3s;
}
.home-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.home-feature-card {
  width: 100%;
  height: 130px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.home-text2 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.home-link {
  text-decoration: underline;
}
.home-container3 {
  top: -1px;
  right: -6px;
  width: 905px;
  height: 1013px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #787878;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 257px;
}

.sidebar {
  width: 21%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid #ddd;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main-ui {
  margin-left: 20%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  /* width: calc(100% - 20%); */
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px;
  background-color: white;
  color: black;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: white;
}

tr:nth-child(even) {
  background-color: white;
}

th,
td {
  text-align: center;
}

#bottom-section {
  width: calc(100% - 20%);
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
}
